.card-title {
  justify-content: space-between;
}

.total-amount {
  margin-bottom: 1rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 500;
  justify-content: space-between;
  align-items: center;
}

.total-amount .price {
  color: #0d6efd;
  font-weight: 700;
}

/* Nav cart info */
.cart-shortcut {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart-shortcut .total {
  font-size: 12px;
  color: #0d6efd;
  font-weight: 500;
}

footer {
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px;
  font-size: 0.8rem;
  letter-spacing: 4px;
  font-weight: 500;
}
